################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PointString/bin/Debug
/PointString/obj/Debug
/.vs/PointString/v14
